<div id='sidebar'>Sidebar</div>
<div id='slots'></div>
<div class='clear'></div>
<script type="text/javascript">
  $(function(){
      App.init(<%= raw @slots.to_json%>)
  });
</script>
<style type="text/css">
  #sidebar{width:20%;float:left;}
  #slots{width:80%;float:left;}
  .clear{clear:both;}
</style>
